apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ kubernetes_rtorrent_deployment }}
  labels:
    app: {{ kubernetes_rtorrent_app }}
{% if kubernetes_rtorrent_deployment_labels %}
    {{ kubernetes_rtorrent_deployment_labels | to_nice_yaml | indent(4) }}
{% endif %}
{% if kubernetes_rtorrent_deployment_annotations %}
  annotations:
    {{ kubernetes_rtorrent_deployment_annotations | to_nice_yaml | indent(4) }}
{% endif %}
spec:
  serviceName: "rtorrent"
  replicas: {{ kubernetes_rtorrent_replicas }}
  revisionHistoryLimit: {{ kubernetes_rtorrent_revision_history }}
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: {{ kubernetes_rtorrent_app }}
  template:
    metadata:
      labels:
        app: {{ kubernetes_rtorrent_app }}
    spec:
{% if kubernetes_rtorrent_node_selector|default({}) %}
      nodeSelector:
        {{ kubernetes_rtorrent_node_selector | to_yaml | indent(8) }}
{% endif %}
      restartPolicy: Always
      initContainers:
      - image: {{ kubernetes_rtorrent_image }}
        name: init-rtorrent
        imagePullPolicy: Always
        command: ['/bin/sh']
        args: ['-c', 'cp /data/rtorrent/* /data/rtorrent/.* /configempty; cp /config/rtorrent.rc /configempty/.rtorrent.rc']
        resources:
          {{ kubernetes_rtorrent_resources | to_yaml | indent(10) }}
        volumeMounts:
        - mountPath: /config/rtorrent.rc
          name: rtorrent-config
          subPath: rtorrent.rc
        - mountPath: /configempty
          name: rtorrent-emptydir
      containers:
      - image: {{ kubernetes_rtorrent_image }}
        imagePullPolicy: Always
        name: rtorrent
        resources:
          {{ kubernetes_rtorrent_resources | to_yaml | indent(10) }}
        ports:
        - name: xmlrpc
          containerPort: 8000
        - name: http
          containerPort: 8080
{% if kubernetes_rtorrent_dht == "on" %}
        - name: dht
          containerPort: {{ kubernetes_rtorrent_dht_port }}
          protocol: UDP
{% endif %}
{% set kubernetes_rtorrent_portrange = kubernetes_rtorrent_port_range.split("-") %}
{% for i in range((kubernetes_rtorrent_portrange[0])|int, (kubernetes_rtorrent_portrange[1])|int + 1) %}
        - containerPort: {{ i }}
          protocol: TCP
        - containerPort: {{ i }}
          protocol: UDP
{% endfor %}
        readinessProbe:
          tcpSocket:
            port: xmlrpc
          initialDelaySeconds: 30
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: xmlrpc
          initialDelaySeconds: 180
          periodSeconds: 10
        volumeMounts:
        - mountPath: /data/rtorrent
          name: rtorrent-emptydir
        - mountPath: {{ kubernetes_rtorrent_directory_session }}
          name: rtorrent-session
          {% if kubernetes_rtorrent_session_volume.subPath is defined %}subPath: {{ kubernetes_rtorrent_session_volume.subPath }}{% endif %}

{% for k, v in kubernetes_rtorrent_downloads_volumes.items() %}
        - mountPath: /downloads/{{ k }}
          name: rtorrent-downloads-{{ k | regex_replace("_", "-") }}
          {% if v.subPath is defined %}subPath: {{ v.subPath }}{% endif %}

{% endfor %}
{% for k, v in kubernetes_rtorrent_watchdirs_volumes.items() %}
        - mountPath: /watchdirs/{{ k }}
          name: rtorrent-watchdirs-{{ k | regex_replace("_", "-") }}
          {% if v.subPath is defined %}subPath: {{ v.subPath }}{% endif %}

{% endfor %}

      volumes:
      - name: rtorrent-emptydir
        emptyDir: {}
      - name: rtorrent-config
        configMap:
          name: {{ kubernetes_rtorrent_configmap }}
          items:
            - key: rtorrent.rc
              path: rtorrent.rc
      - {name: rtorrent-session, {{ kubernetes_rtorrent_session_volume.definition | to_yaml }}}
{% for k, v in kubernetes_rtorrent_downloads_volumes.items() %}
      - {name: rtorrent-downloads-{{ k | regex_replace("_", "-") }}, {{ v.definition | to_yaml }}}
{% endfor %}
{% for k, v in kubernetes_rtorrent_watchdirs_volumes.items() %}
      - {name: rtorrent-watchdirs-{{ k | regex_replace("_", "-") }}, {{ v.definition | to_yaml }}}
{% endfor %}
